@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800&display=swap");

.accordian {
    width: 750px;
    margin: 100px auto;
}

.accordian h2 {
    font-weight: 600;
    font-size: 1.8em;
    text-align: center;
    font-family: "Montserrat", sans-serif;
    margin-bottom: 30px;
}

.para {
    font-weight: 400;
    font-size: 1em;
    font-family: "Roboto", sans-serif;
}
