@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800&display=swap");

.about {
    text-align: center;
    margin: 0px 10%;
    padding-top: 80px;
}

.about h2 {
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    font-size: 1.8em;
}

.about_details {
    width: 80%;
    margin: 20px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.about_details section {
    width: 45%;
}

.about_details section p {
    word-break: break-all;
    font-family: "Roboto", sans-serif;
}

.about_details section img {
    width: 350px;
}
