@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800&display=swap");

.parallax_one {
    background: url("/assets/flexpie.jpg") no-repeat fixed center;
    background-size: 100vw auto;
    position: relative;
    height: 300px;
}

.parallax_one::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.parallax_inner {
    padding: 70px 0px;
    position: relative;
    z-index: 2;
    text-align: center;
}

.parallax_inner h2 {
    margin: 25px;
    font-size: 2em;
    font-weight: 600;
    color: #f4f4f4;
    font-family: "Montserrat", sans-serif;
}

.icon {
    margin-left: 7px;
    font-size: 1.6em;
}
